.masked--vertical {
  --edge-percent: 10%;
  /* -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) var(--edge-percent),
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) calc(100% - var(--edge-percent)),
    rgba(0, 0, 0, 0) 100%
  ); */
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) var(--edge-percent),
    rgba(0, 0, 0, 0.8) 30%,
    rgba(0, 0, 0, 0.8) 60%,
    rgb(0, 0, 0, 0) calc(100% - var(--edge-percent)),
    rgba(0, 0, 0, 0) 100%
  );
}
.uni-map #roads path {
  stroke: var(--primary);
}
.uni-map :where(#buildings path) {
  stroke: color-mix(in oklab, var(--primary) 50%, transparent);
  fill: color-mix(in oklab, var(--primary) 20%, transparent);
}

.uni-map .civilAuditorium {
  fill: var(--primary);
}
