.masked--vertical {
  --edge-percent: 10%;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) var(--edge-percent),
    rgba(0, 0, 0, 0.5) 20%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.5) 80%,
    rgba(0, 0, 0, 0.2) calc(100% - var(--edge-percent)),
    rgba(0, 0, 0, 0) 100%
  );
}
.uni-map #roads path {
  stroke: var(--primary);
}
.uni-map :where(#buildings path) {
  stroke: color-mix(in oklab, var(--primary) 50%, transparent);
  fill: color-mix(in oklab, var(--primary) 20%, transparent);
}

.uni-map .civilAuditorium {
  fill: var(--primary);
}
