@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Manrope";
    src: url("/fonts/static/Manrope-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
  }

  @font-face {
    font-family: "Manrope";
    src: url("/fonts/static/Manrope-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: "Manrope";
    src: url("/fonts/static/Manrope-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Manrope";
    src: url("/fonts/static/Manrope-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "Manrope";
    src: url("/fonts/static/Manrope-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: "Manrope";
    src: url("/fonts/static/Manrope-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Manrope";
    src: url("/fonts/static/Manrope-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
  }
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 800;
  font-display: swap;
}
@font-face {
  font-family: "DM Serif Display";
  src: url("/fonts/static/DMSerifDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "DM Serif Display";
  src: url("/fonts/static/DMSerifDisplay-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
